<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>News</title>
</head>

<body>

  <header>
    <div class="topnav">

      <a href="/"> <img class="logo"
          src="/img/logo.png"
          alt=""> </a>
      <div class="topnav_right">
        <a href="/">
          <p> Home </p>
        </a>
        <a href="/aboutus">
          <p> About Us </p>
        </a>
        <a href="/contactus" target=>
          <p> Contact Us </p>
        </a>
      </div>





    </div>
      <div class="secHeader" id="myHeader">
        <% categories.forEach(cat=>{%>
          <a href="/<%= cat.name  %>">
            <p>
              <%= cat.name %>  
            </p> 
            
          </a>
          <% }) %>
      </div>
  </header>

  <main>