
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');


body {
  width: 100%;
  min-width: 410px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Antic Slab', serif;

}

header {
  width: 100%;
}

main {
  width: 100%;
  max-width: 1300px;
  flex: 1;
}

footer {
    width: 100%;
}

/* START HEADER */
header{
  background-color: #ffffff;
  font-family: 'Bitter', serif;

}
.topnav {
  overflow: hidden;
  background-color: #2d3e50f5;
  height: 10vh;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.topnav_right {
  display: flex;
  margin-right: 20px;
}

.topnav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  padding: 0 10px;
  height: 100%;
}

.topnav a:hover {
  /* background-color: #DADADA; */
  color: #38A169;
}

/* .topnav-right {
  float: right;
} */

header div a p{
padding: 0 7px;
line-height: 10vh;
}

.topnav a p:hover{
  /* background-color: #38A169; */
  color: #38A169;

}
.logo{
  height: 100%;
}
/* END HEADER */



/* START FOOTER */
footer{
  background-image: url("https://scontent.famm2-3.fna.fbcdn.net/v/t1.15752-9/175833805_1713290712207041_4297416206986705231_n.png?_nc_cat=104&ccb=1-3&_nc_sid=ae9488&_nc_eui2=AeEIixDlZQLLA303_uurND7h2nIeTG9ux1Hach5Mb27HUT9izG9YHWKiYevIAuIKYcfV2p-wh4df3R13nnfQ3A0o&_nc_ohc=uJd6hJbiqyEAX9TtKWm&_nc_ht=scontent.famm2-3.fna&oh=84a48d9af87eeb9bce3e668cec68b675&oe=60A438BF");
  background-size: cover;
  font-family: 'Bitter', serif;
}

footer.admin_footer {
  background-image: none;
}

.footerContainer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footerContainer>div {
  width: calc(100%/3 - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 40px 20px;
  font-size:15px;
  line-height:24px;
  display: flex;
  flex-direction: column;
  color:rgba(255, 255, 255, 0.521);
}
.site-footer hr
{
  border-top-color:rgba(255, 255, 255, 0.521);
  opacity:0.2;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 90%;
}

.footerLogo{
  width: 87px;
  height: 72px;
  line-height: 80px;
  border: 1px solid rgba(255, 255, 255, 0.178);
}
.copyright-text, .social-icons{
  line-height: 80px;
}
.site-footer h6
{
  color:rgb(255, 255, 255);
  font-size:16px;
  font-weight: bolder;
  text-transform:uppercase;
  letter-spacing:2px;
}
.site-footer a
{
  color:rgba(255, 255, 255, 0.541);
  text-decoration: none;
}
.site-footer a:hover
{
  color:#ffffff;
  text-decoration:none;
}



.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:rgba(255, 255, 255, 0.5);
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#ffffff;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#4b5878;
}
.copyright-text
{
  margin:0
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}


.footerContainer2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-links li a {
  text-decoration: none;
  text-transform: capitalize;
}

/* END FOOTER */

/* START SECOND HEADER */

.secHeader {
  opacity: 0.9;
  z-index: 10000;
  width: 100%;
  border-bottom: 1px solid #4e5b7ca9;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.secHeader a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 15px;
  text-transform: capitalize;
  color: #2D3E50;
  font-weight: bolder;
}

.secHeader a:hover {
  background-color: #38A169;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
}

/* END SECOND HEADER */


@media screen and (max-width: 700px) {
  .footerContainer {
    flex-wrap: wrap;
  }

  .footerContainer>div {
    margin-bottom: 20px;
    width: calc(100%/2 - 20px);
  }
  
  .footerContainer>div:first-child {
    width: 100%;
  }

  .footerContainer2 {
    flex-wrap: wrap;
  }

  .footer_logo {
    order: 0;
  }

  .footer_social {
    order: 1;
  }

  .footer_copyright {
    order: 2;
    width: 100%;
  }
}