</main>
<footer class="admin_footer">
    <div class="admin_footer_container">
        <p>News Admin</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<!-- <script src="/js/app.js"></script> -->
<script>
    if(window.location.pathname === '/admin/login'){
        $('#logout_link').css({display: 'none'});
    }
    /* Admin ckeditor config */
    ClassicEditor.create(document.querySelector('#editor'))
    .catch((error) => {
    console.error(error);
    });
</script>
</body>
</html>