<div class="dashboard_sidebar">
  <ul class="sidebar_links">
    <li><a <% if(!category_name){ %>class="active"<% } %> href="/admin/dashboard">
      All
    </a></li>
    <% categories.forEach(category=> { %>
      <li><a <% if(category.name == category_name){ %>class="active"<% } %> href="/admin/dashboard?category=<%= category.name %>">
          <%= category.name[0].toUpperCase() + category.name.slice(1); %>
        </a></li>
      <% }) %>
  </ul>
</div>
