body.admin_body {
    background-color: #f3f3f3;
}

.admin_login_header a, .dashboard_sidebar a {
    text-decoration: none;
}

.admin_login_header a:hover {
    color: #D93491;
}

.admin_header, .admin_footer {
    width: 100%;
    background-color: #354759 !important;
    /* background: linear-gradient(to bottom, #364759 0%, #364759b7 100%); */

    color: white;
    font-weight: 600;
    height: 10vh;
    line-height: 10vh;
    text-align: center;
    z-index: 1000;
}

.admin_header_container {
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}


.admin_navbar ul {
    display: flex;
}

.admin_navbar ul li {
    display: flex;
    padding: 0 10px;
}

.admin_logo a , .admin_navbar ul li a{
    text-decoration: none;
    color: white;
}

.admin_logo a:hover, .admin_navbar ul li a:hover{
/* color: #8191c2; */
/* font-weight: bolder; */
}

.admin_logo, .admin_logo a {
    height: 100%;
}

.admin_logo_image {
    height: 100%;
}
