
    .contactForm1 {
      width: 100%;
      padding: 10px;
    }

    .contact {
      width: 100%;
        padding-bottom: 50px;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          align-items: center;
          align-content: center;
          background-color: #dadada3b;;
      }
      .btn {
        font-family: 'Antic Slab', serif;
          padding: 8px 20px;
          border-radius: 0;
          overflow: hidden;
          cursor: pointer;
          background-color: white;
          border: none;
          color: #2D3E50;
      }
      
      .btn:hover {
          /* background: transparent; */
          box-shadow: 0 0 20px 10px #38a1698a;
          
      }
      
    
      .form-input-material input {
          color: black;
      }
      .title{

          font-size: 20px;
          margin:0px 0 20px 0px;
 
          color: #2D3E50;
          font-weight: bold;
      }
  
   h2.title{
          font-size: 20px;
          padding-top: 30px;
          /* padding-bottom: 20px; */
          margin-bottom: 10px;
      }
      .contact-form  {
     
        margin: 37px 0;
        width: 95%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        color: white;
        background: #2D3E50;
        border-radius: 2px;
        box-shadow: 0 2px 2px rgb(165 89 89 / 50%), 0 1px 1px rgb(128 128 128 / 50%), 0 2.1px 2.1px rgb(128 128 128 / 50%), 0 4.4px 4.4px rgb(128 128 128 / 24%), 0 12px 12px rgb(128 128 128 / 35%);
      }
      .contact-form h1 {
          margin: 0 0 24px 0;
      }
      .contact-form .form-input-material {
          margin: 12px 0;
      }
      .contact-form .btn {
     
          width: 80%;
          margin: 18px 0 9px 0;
          font-size: 20.8px;
      }
      
  /* END ABOUT US PAGE  */
  
  .form__group {
      position: relative;
      padding: 20px 0 0;
      margin-top: 10px;
      width: 80%;
  }
  .form__field {
     
      width: 100%;
      border: 0;
      border-bottom: 2px solid #9b9b9b;
      outline: 0;
      font-size: 1.3rem;
   
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
  }
  .form__field::placeholder {
      color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
      font-size: 18px;
      cursor: text;
      top: 20px;
  }
  .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 18px;
      color: #9b9b9b;
  }
  .form__field:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, #11998e, #38ef7d);
      border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: #11998e;
      font-weight: 700;
  }
  
  textarea#message.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
      box-shadow: none;
  }
  /* demo */
  
  textarea#message.form__field{
  
      color: white;
      font-size: 15px;
      font-weight: normal;
  }
  input#username.form__field{
      color: white;
      font-size: 15px;
      font-weight: normal;
  }
  input#phone.form__field{
      color: white;
      font-size: 15px;
      font-weight: normal;
  }
  input#email.form__field{
      color: white;
      font-size: 15px;
      font-weight: normal;
  }
.grad{
   border-radius: 75%;
   /* margin-bottom: -20; */
    margin-top: 20px;
    width: 100%;
    height: 12px;
  background-image: linear-gradient(to right, #11998e, #38ef7d);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 5000;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 30vh auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    min-width: 400px;
    height: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-size: 30px;
    margin-bottom: 10%;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    line-height: 1.5;
  }