<%- include('../partials/header') %>



    <div class="sub-container">
           <div class="cards-wrapper">
                <article class="title">Meet our brilliant and knowledgeable team</article>
                <div class="image-area">
                    <div class="img-wrapper">
                        <img src="https://avatars.githubusercontent.com/u/71489065?v=4" alt="Wesam Almasri"
                            title="Wesam Almasri">
                       
                            <h2><span class="name">Wesam Almasri</span> <br>

                                <span class="job-title"> SOFTWARE DEVELOPER</span>
                                </span>
                            </h2>

                            <ul>
                                <li><a href="https://github.com/WesamAlmasri"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/wesam-al-masri"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                       

                    </div>

                    <div class="img-wrapper">
                        <img src="https://avatars.githubusercontent.com/u/78383232?v=4" alt="Mohammad Nofal"
                            title="Mohammad Nofal">

                       
                            <h2><span class="name">Mohammad Nofal</span> <br>
                                <span class="job-title">SOFTWARE DEVELOPER</span>


                            </h2>

                            <ul>
                                <li><a href="https://github.com/mohamdnofal"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/mohammad-a-nofal/"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                     
                    </div>

                    <div class="img-wrapper">
                        <img src="https://avatars.githubusercontent.com/u/78360088?v=4" alt=" Nour Abu Elenein"
                            title="Nour Abu El-Enein">


                       
                            <h2> <span class="name">Nour Abu El-Enein</span> <br>
                                <span class="job-title">SOFTWARE DEVELOPER</span>

                            </h2>

                            <ul>
                                <li><a href="https://github.com/engnour94"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/nour-abuelenein/"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
              

                    </div>

                    <div class="img-wrapper">
                        <img src="https://avatars.githubusercontent.com/u/78374286?v=4" alt="Tamara Alrashed"
                            title="Tamara Alrashed">
                       
                            <h2><span class="name">Tamara Alrashed</span> <br>

                                <span class="job-title">SOFTWARE DEVELOPER</span>
                            </h2>
                            <ul>
                                <li><a href="https://github.com/Tamaraalrashed"><i class="fab fa-github"></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/tamara-alrashed"><i
                                            class="fab fa-linkedin"></i></a></li>
                            </ul>
                      
                    </div>

                    <div class="img-wrapper">
                        <img src="https://avatars.githubusercontent.com/u/78326110?v=4" alt="Wafa'a Ankoush "
                            title="Wafa'a Ankoush " class="profile-pic">
                     
                            <h2> <span class="name">Wafa'a Ankoush </span> <br>
                                <span class="job-title">SOFTWARE DEVELOPER</span>


                            </h2>

                            <ul>
                                <li><a href="https://github.com/wafaankoush99"><i class="fab fa-github"></i></a>
                                </li>
                                <li><a href="https://www.linkedin.com/in/wafaankoush"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                   
                    </div>


                </div>



            </div>

           <div class="contact">
            <h2 class="title"> Please get in touch and our team will answer all your questions</h2>
            <form class="contact-form" action="/aboutUs" method="POST">

                <div class="form__group field">
                    <input type="text" class="form__field" placeholder="Name" name="username" id='username' required autocomplete="off" />
                    <label for="username" class="form__label">Name</label>
                </div>

                <div class="form__group field">
                    <input type="text" class="form__field" placeholder="Phone" name="phone" id='phone' required autocomplete="off" />
                    <label for="phone" class="form__label">Phone</label>
                </div>
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Email" name="email" id='email' required  autocomplete="off"/>
                    <label for="email" class="form__label">Email</label>
                </div>

                <div class="form__group field">
                    <textarea name="message"class="form__field" placeholder="message"  id="message" cols="30" rows="3" autocomplete="off"
                    required></textarea>
                    <!-- <input type="message" class="form__field" placeholder="message" name="message" id='message' autocomplete="off"
                        required /> -->
                    <label for="message" class="form__label">Message</label>
                </div>
                <button type="submit" class="btn btn-primary btn-ghost">Send</button>
            </form>
        </div>
    </div>
    </div>




    <%- include('../partials/footer') %>