<%- include('../partials/header') %>


    <div class="cards-container">
        <h2 class="title">Meet Our Creative Team</h2>
        <div class="image-area">

            <div class="img-section">
                <img src="https://avatars.githubusercontent.com/u/71489065?v=4" alt="Wesam Almasri"
                    title="Wesam Almasri">
                <h3><span class="name">Wesam Almasri</span> <br>

                    <span class="job-title"> Software Developer</span>
                    </span>
                </h3>

                <ul>
                    <li><a href="https://github.com/WesamAlmasri"><i class="fab fa-github"></i></a></li> <br>
                    <li><a href="https://www.linkedin.com/in/wesam-al-masri"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>

            <div class="img-section">
                <img src="https://avatars.githubusercontent.com/u/78383232?v=4" alt="Mohammad Nofal"
                    title="Mohammad Nofal">
                <h3><span class="name">Mohammad Nofal</span> <br>
                    <span class="job-title">Software Developer</span>


                </h3>

                <ul>
                    <li><a href="https://github.com/mohamdnofal"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/mohammad-a-nofal/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>

            <div class="img-section">
                <img src="https://avatars.githubusercontent.com/u/78360088?v=4" alt=" Nour Abu Elenein"
                    title="Nour Abu El-Enein">
                <h3> <span class="name">Nour Abu El-Enein</span> <br>
                    <span class="job-title">Software Developer</span>

                </h3>

                <ul>
                    <li><a href="https://github.com/engnour94"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/nour-abuelenein/"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>


            <div class="img-section">
                <img src="https://avatars.githubusercontent.com/u/78374286?v=4" alt="Tamara Alrashed"
                    title="Tamara Alrashed">
                <h3><span class="name">Tamara Alrashed</span> <br>

                    <span class="job-title">Software Developer</span>
                </h3>
                <ul>
                    <li><a href="https://github.com/Tamaraalrashed"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/tamara-alrashed"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>

            <div class="img-section">
                <img src="https://avatars.githubusercontent.com/u/78326110?v=4" alt="Wafa'a Ankoush "
                    title="Wafa'a Ankoush " class="profile-pic">
                <h3> <span class="name">Wafa'a Ankoush </span> <br>
                    <span class="job-title">Software Developer</span>


                </h3>

                <ul>
                    <li><a href="https://github.com/wafaankoush99"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/wafaankoush"><i class="fab fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <%- include('../partials/footer') %>