<%- include('../partials/header') %>

    <div class="container-aboutUs">
  
        <div class="sub-container">
            
            <div class="cards-container">
               
                <div class="image-area">

                    <div class="img-section">
                        <img src="https://avatars.githubusercontent.com/u/71489065?v=4" alt="Wesam Almasri"
                            title="Wesam Almasri">
                        <div class="info">
                            <h3><span class="name">Wesam Almasri</span> <br>

                                <span class="job-title"> SOFTWARE DEVELOPER</span>
                                </span>
                            </h3>

                            <ul>
                                <li><a href="https://github.com/WesamAlmasri"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/wesam-al-masri"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>




                    </div>

                    <div class="img-section">
                        <img src="https://avatars.githubusercontent.com/u/78383232?v=4" alt="Mohammad Nofal"
                            title="Mohammad Nofal">

                        <div class="info">
                            <h3><span class="name">Mohammad Nofal</span> <br>
                                <span class="job-title">SOFTWARE DEVELOPER</span>


                            </h3>

                            <ul>
                                <li><a href="https://github.com/mohamdnofal"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/mohammad-a-nofal/"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="img-section">
                        <img src="https://avatars.githubusercontent.com/u/78360088?v=4" alt=" Nour Abu Elenein"
                            title="Nour Abu El-Enein">


                        <div class="info">
                            <h3> <span class="name">Nour Abu El-Enein</span> <br>
                                <span class="job-title">SOFTWARE DEVELOPER</span>

                            </h3>

                            <ul>
                                <li><a href="https://github.com/engnour94"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/nour-abuelenein/"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>


                    </div>


                    <div class="img-section">
                        <img src="https://avatars.githubusercontent.com/u/78374286?v=4" alt="Tamara Alrashed"
                            title="Tamara Alrashed">
                        <div class="info">
                            <h3><span class="name">Tamara Alrashed</span> <br>

                                <span class="job-title">SOFTWARE DEVELOPER</span>
                            </h3>
                            <ul>
                                <li><a href="https://github.com/Tamaraalrashed"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/tamara-alrashed"><i
                                            class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>


                    </div>

                    <div class="img-section">
                        <img src="https://avatars.githubusercontent.com/u/78326110?v=4" alt="Wafa'a Ankoush "
                            title="Wafa'a Ankoush " class="profile-pic">
                        <div class="info">
                            <h3> <span class="name">Wafa'a Ankoush </span> <br>
                                <span class="job-title">SOFTWARE DEVELOPER</span>


                            </h3>

                            <ul>
                                <li><a href="https://github.com/wafaankoush99"><i class="fab fa-github"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/wafaankoush"><i
                                            class="fab fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
            <div class="contact">
                <h2 class="title"> Contact our perfect team</h2>
                <form class="contact-form" action="javascript:void(0);">
                    <h1>Contact Us</h1>
                    <div class="form-input-material">
                        <label for="username">Name</label>
                      <input type="text" name="username" id="username"  autocomplete="off" class="form-control-material" required />
                      
                    </div>
                    <div class="form-input-material">
                        <label for="phone">Phone</label>
                      <input type="text" name="phone" id="phone"  required />
                      
                    </div>
                  
                    <div class="form-input-material">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email"  required />
                      
                      </div>
                      
                      <div class="form-input-material">
                        <label for="Message">Message</label>
                        <input type="text" name="Message" id="Message"  required />
                       
                      </div>
  
                    <button type="submit" class="btn btn-primary btn-ghost">Send</button>
                  </form>
            </div>
        </div>


    </div>


    <%- include('../partials/footer') %>