<%- include('../partials/header') %>
<div class="contactForm1">
    <div class="contact">
      
        <h2 class="title"> Please get in touch and our team will answer all your questions</h2>
        <!-- <div class="grad"></div> -->
        <form class="contact-form" action="/contactUs" method="POST">

            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Name" name="username" id='username' required autocomplete="off" />
                <label for="username" class="form__label">Name</label>
            </div>

            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Phone" name="phone" id='phone' required autocomplete="off" />
                <label for="phone" class="form__label">Phone</label>
            </div>
            <div class="form__group field">
                <input type="email" class="form__field" placeholder="Email" name="email" id='email' required  autocomplete="off"/>
                <label for="email" class="form__label">Email</label>
            </div>

            <div class="form__group field">
                <textarea name="message"class="form__field" placeholder="message"  id="message" cols="30" rows="3" autocomplete="off"
                required></textarea>
             
                <label for="message" class="form__label">Message</label>
            </div>
            <button type="submit" class="btn btn-primary btn-ghost">Send</button>
        </form>
        <div class="grad"></div>
    </div>
</div>
<%- include('../partials/footer') %>