<%- include('../partials/header') %>
<div class="errorContainer">
    <div class="innerErrorContainer">
        <h1 class="wrong">somthing went wrong</h1>
        <p class="details">The page or action you requested has resulted in an error. Please go back to the previous page by using your browser's Back button, or visit the<a class="transPage" href="/"> home page</a> </p>  
    </div>
</div>

<%- include('../partials/footer') %>
