</main>
<footer class="admin_footer">
    <div class="admin_footer_container">
        <p> The-Detectives </p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/ckeditor5/ckeditor.js"></script>
<script src="/js/adminApp.js"></script>
</body>
</html>