<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>
<body class="admin_body">
    <header class="admin_header">
        <div class="admin_header_container">
            <div class="admin_logo">
                <a href="/admin/dashboard"><img class="admin_logo_image" src="/img/logo.png" alt="Dot-news logo"></a>
            </div>
            <nav class="admin_navbar">
                <ul>
                    <li><a href="/">Main site</a></li>
                    <li><a href="/admin/dashboard">Dashboard</a></li>
                    <li><a href="/admin/messages">Messages</a></li>
                    <li id="logout_link"><a href="/admin/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>


        