<%- include('./partials/header') %>
<div class="admin_dashboard_container">
 <%- include('./partials/sideNav') %> 
  <div class="dashboard_main">
    <%- include('./partials/dashboardListMessages.ejs') %> 
  </div>
</div>
<%- include('./partials/footer') %>
