<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Admin</title>
</head>
<body class="admin_body">

    <main class="loginMainPagee">
<div class="loginMainCont">
    <div class="login_container">
        <div class="dashboard_messages">
            <%- messages() %>
        </div>
        <form action="" method="post" class="loginForm">
            <h1 class="login_title">Member login</h1>
            <input class="inputField userIcon" type="text" name="username" placeholder="Enter Username" id="username">
            <input class="inputField passIcon" type="password" name="password" placeholder="Enter Passwrod" id="password">
            <input class="submitField" type="submit" value="Login">
        </form>
    </div>
</div>
</main>



<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
<script src="/js/adminApp.js"></script>
</body>
</html>

