<%- include('./partials/header') %>

    <div class="login_container">
        
        <form action="" method="post" class="loginForm">
            <h1 class="login_title">Member login</h1>
            <input class="inputField" type="text" name="username" placeholder="Enter Username" id="username">
            <input class="inputField" type="password" name="password" placeholder="Enter Passwrod" id="password">
            <input class="submitField" type="submit" value="Login">
        </form>
    </div>

    <%- include('./partials/footer') %>