@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
/* START ABOUT US PAGE */

    .sub-container{
        width: 100%;
    padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
             align-items: center;
      
             background-color:  #DADADA;
    } 
    .cards-container{
        width: 100%;
      
        background-color:  #DADADA;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        align-content: center;
    }
    .contact{
        width: 100%;
      
        background-color: #DADADA;
    }
    .img-section img{
        height: 180px;
        width: 180px;
        border-radius: 50%;
        margin-top:40px;
    }
    h3 .name{
        font-family: 'Oswald', sans-serif;
        color:  #2D3E50;
        font-size: 25px;
        font-weight: bold;
    }
    h3 .job-title{
        font-family: 'Roboto', sans-serif;
        color: grey;
        font-size: 16px;
        font-weight: bold;
    }
    .img-section ul li i {
        color: #2D3E50;
    
        font-size: 30px;
      }
   
    
    

/* ////////////// */

.cards-wrapper {
    width: 100%;
    margin: auto;
  }
  nav ul li a {
    text-decoration: none;
  }
  .image-area {
    padding: 10px 0;
    text-align: center;
  }
  
  .img-wrapper {
    border-radius: 20px;
    display: inline-block;
    margin: 20px 10px;
  
    position: relative;
    overflow: hidden;
  }
  
  .img-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 180%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    transform: skew(45deg);
    transition: 0.5s;
  }
  
  .img-wrapper:hover:before {
    left: -180%;
  }
  
  .img-wrapper img {
    height: 300px;
    width: 220px;
    filter: brightness(0.7);
    transition: 2s;
  }
  .img-wrapper:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
  }
  
  .img-wrapper h2 {
    background: #2D3E50;
    font-family: Poppins;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: right;
    transition: 1s;
  }
  
  .img-wrapper:hover h2 {
    transform: perspective(400px) rotateY(0deg);
  }
  
  .img-wrapper h2 span {
    display: block;
    /* margin-top: 10px; */
    background: transparent;
  
    text-transform: none;
  }
  
  .img-wrapper ul {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 0);
  }
  
  .img-wrapper ul li {
    background: #2D3E50;
    height: 40px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    transform: perspective(800px) rotateY(90deg);
    transition: 0.5s;
    transform-origin: left;
  }
  
  .img-wrapper:hover ul li {
    transform: perspective(800px) rotateY(0deg);
  }
  
  .img-wrapper:hover ul li:nth-child(1) {
    transition-delay: 0.2s;
  }
  
  .img-wrapper:hover ul li:nth-child(2) {
    transition-delay: 0.6s;
  }
  
  .img-wrapper:hover ul li:nth-child(3) {
    transition-delay: 0.8s;
  }
  
  .img-wrapper:hover ul li:nth-child(4) {
    transition-delay: 1s;
  }
  
  .img-wrapper ul li a {
    color: #2D3E50;
    background: rgba(255, 255, 255, 0);
  }
  
  .img-wrapper ul li i {
    color:white;
    background: rgba(255, 255, 255, 0);
  }
  
  .img-wrapper ul li i:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0);
  }
  .div--text {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .animate__animated.animate__backInLeft {
    text-shadow: 1px 2px 1px #fff;
    font-weight: 900;
    font-size: 2.5em;
    height: 100%;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    color: #2D3E50;
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  /* :root {
    --animate-duration: 2000ms;
    --animate-delay: 1.2s;
  } */
  
  .title {
    font-family: 'Balsamiq Sans', cursive;
    /* font-family: 'Arvo', serif; */
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    color: #333;
    vertical-align: middle;
  }
  
  .name {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arvo', serif;
  }
  .job-title {
    color: #9b9b9b;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  