.login_container {
    display: flex;
    flex-direction: column;
}

.loginMain {
    display: flex;
}

.loginForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 60px;
    padding: 20px;
    margin-top: 10px;
}
.login_title {
    text-align: center;
    margin-bottom: 30px;
    font-size: x-large;
    text-transform: capitalize;
}

.login_container {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.inputField {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    cursor:pointer ;
}

.submitField {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: xx-large;
    font-family: none;
    margin-top: 10px;
    cursor:pointer ;
}