.admin_dashboard_container {
    width: 100%;
    display: flex;
}

.dashboard_sidebar {
    position: fixed;
    min-height: 100vh;
    background-color: #e8eaef;
    color: black;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 80px 0;
    z-index: 100;
    margin-top: -10vh;
    border-right: 1px solid lightgray;
}

.dashboard_main {
    width: 78%;
    margin-left: 18%;
    margin-right: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
}

.sidebar_title {
    width: 100%;
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
    text-align: center;
}

.sidebar_links {
    width: 100%;
    list-style: none;
}

.sidebar_links li {
    width: 100%;
}

.sidebar_links li a {
    width: 100%;
    padding: 15px;
    color: black;
    font-weight: 700;
    display: flex;
}

.sidebar_links li a.active {
    color: white;
    background-color: #354759;
}

.sidebar_links li a:hover {
    color: white;
    background-color: #b4b9d1;
    border-radius: 2%;
    
}

.dashboard_header {
    padding: 30px 0;
    border-bottom: 1px solid grey;
}

.dashboard_header a {
    background-color: #1d59b4;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.dashboard_header a:hover{
    background-color: #194e9e;
    
}
.dashboard_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 15px;
}

.dashboard_card:last-child {
    border: none;
}

.dashboard_card_left {
    display: flex;
}

.dashboard_card img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    border-radius: 20%;
}


.dashboard_card_info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.card_title {
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight:bolder;
}

.published_at{
    color: rgb(136, 133, 133);
}

.dashboard_card_info_actions {
    display: flex;
    align-items: center;
}

.dashboard_card_info_actions a {
    text-decoration: none;
    color: white;
}

.dashboard_card_info_actions button[type=submit]{
    border-radius: 5px;
    color: white;

    width: 80px;
    height: 50px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.dashboard_card_info_actions .one {
    background-color: #1c7399;
}

.dashboard_card_info_actions .one:hover{
    background-color: #156080;
}
.dashboard_card_info_actions .two{
    background-color: #c02d3c;
}

.dashboard_card_info_actions .two:hover{
    background-color: #a01f2c;

}
.dashboard_sidebar hr {
    height: 0px;
    color: rgba(255, 255, 255, 0);
    margin-top: 0;

}


.dashboard_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 1.5;
}

.dashboard_table, .dashboard_table td, .dashboard_table th {
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }

.dashboard_table th {
    font-weight: 600;
}

  .dashboard_table th:first-child, .dashboard_table th:last-child{
      width: 150px;
  }

  .dashboard_messages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      /* margin-top: 20px; */
  }

  .dashboard_messages ul {
      text-align: center;
  }

  .dashboard_messages li {
    background-color: rgb(89, 155, 35);
    padding: 0 10px;
    border-radius: 5px;
    margin: 5px 0;
    height: 30px;
    line-height: 30px;
  }

  .dashboard_messages ul.error li {
      background-color: rgb(209, 65, 65);
  }

  .admin_pagination {
      align-self: center;
      margin: 20px 0;
  }

  .admin_pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .admin_pagination {
    display: inline-block;
  }

  .admin_pagination a.active {
    background-color: #2b314b;
    color: white;
    border: 1px solid #2b314b;
  }
  
  .admin_pagination a:hover:not(.active) {background-color: #ddd;}

  a.is_disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
