.admin_dashboard_container {
    width: 100%;
    display: flex;
}

.dashboard_sidebar {
    position: fixed;
    min-height: 100vh;
    background-color: #049dc7;
    color: white;
    width: 12%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 80px 0;
    /* padding: calc(10vh + 30px) 20px; */
    z-index: 100;
    margin-top: -10vh;
}

.dashboard_main {
    width: 78%;
    margin-left: 15%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.sidebar_title {
    margin-bottom: 10px;
    color: #DDD;
    font-size: 15px;
    float: left;
    padding-left: 20px;
}

.sidebar_links {
    list-style: none;
}

.sidebar_links li {
    /* padding: 15px 0; */
    text-align: left;
    padding: 15px 0 ;

}

.sidebar_links li a {
    padding: 15px;
    padding-right: 150px;
}



.sidebar_links li a:hover {
    color: rgb(0, 0, 0);
    /* background-color: rgb(214, 210, 205); */
    border-radius: 2%;
    
}

.dashboard_header {
    padding: 30px 0;
    border-bottom: 1px solid grey;
}

.dashboard_header a {
    background-color: #00B5E5;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
}

.dashboard_header a:hover{
    background-color: #5d8f9e;
    
}
.dashboard_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 15px;
}

.dashboard_card:last-child {
    border: none;
}

.dashboard_card_left {
    display: flex;
}

.dashboard_card img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    border-radius: 20%;
}


.dashboard_card_info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.card_title {
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight:bolder;
}

.published_at{
    color: rgb(136, 133, 133);
}

.dashboard_card_info_actions {
    display: flex;
    align-items: center;
}

.dashboard_card_info_actions a {
    /* margin-right: 30px; */
    text-decoration: none;
    color: white;
}

.dashboard_card_info_actions button[type=submit]{
    /* background-color: red; */
    /* padding: 5px 10px; */
    border-radius: 5px;
    color: white;

    width: 80px;
    height: 70px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
}

.dashboard_card_info_actions .one {
    background-color: #00B5E5;
}

.dashboard_card_info_actions .one:hover{
    background-color: #1b748d;
}
.dashboard_card_info_actions .two{
    background-color: rgb(182, 20, 20);
}

.dashboard_card_info_actions .two:hover{
    background-color: rgb(95, 24, 24);

}
.dashboard_sidebar hr {
    /* width: 100px; */
    height: 0px;
    color: rgba(255, 255, 255, 0);
    margin-top: 0;

}

}

.dashboard_table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 1.5;
}

.dashboard_table, .dashboard_table td, .dashboard_table th {
    border: 1px solid black;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
  }

.dashboard_table th {
    font-weight: 600;
}

  .dashboard_table th:first-child, .dashboard_table th:last-child{
      width: 150px;
  }

