.pageName {
  padding-left: 80px;
  font-size: xx-large;
  padding-top: 35px;
  padding-bottom: 25px;
  text-transform: capitalize;
  color: #2D3E50;
}

.opacity {
  opacity: 0.5;
  font-size: large;
}

.categoryContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 10px;
  margin: auto;
  padding: 25px 83px;
  color: #2D3E50;
}

.categoryItem {
  align-items: center;
  justify-content: center;
  grid-row: span 1;
  text-align: center;
  font-size: large;
  overflow: hidden;
  background: #fff;
}

.categoryItem img {
  height: 200px;
  width: 85%;
  margin-top: 20px;
}

.categoryItem h2 {
  margin: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: larger;
  line-height: 2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.categoryItem p {
  opacity: .5;
  margin-bottom: 20px;
}

.bigItem {
  grid-row: span 2;
  grid-column: span 2;
  text-align: center;
  font-size: xx-large;
}

.bigItem img {
  height: 400px;
}

.bigItem h2 {
  padding-top: 20px;
  max-width: 100%;
  width: auto;
  white-space: inherit;
}

.bigItem p {
  opacity: .5;
  margin-top: 30px;
}