.pageName {
  text-align: center;
  font-size: xxx-large;
  /* margin: 20px 20px; */
  padding-top: 20px;
  text-transform: capitalize;
}

.opacity {
  opacity: 0.5;
}

.categoryContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 10px;
  margin: auto;
  padding: 25px 83px;
}

.categoryItem {
  padding: 5px;
  align-items: center;
  justify-content: center;
  grid-row: span 1;
  text-align: center;
  font-size: large;
  color: #FED049;
  background-color: #2D3E50;
}

.categoryItem img {
  width: 50%;
  height: 50%;
  margin-top: 20px;
}

.categoryItem h2 {
  padding-top: 5px;
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 20px;
}

.categoryItem p {
  opacity: .5;
  margin-top: 20px;
}

.bigItem {
  grid-row: span 2;
  grid-column: span 2;
  text-align: center;
  /* background-color: gray; */
  font-size: xx-large;
}

.bigItem img {
  width: 60%;
  max-height: 80%;
}

.bigItem h2 {
  padding-top: 20px;
  width: 700px;
}

.bigItem p {
  opacity: .5;
  margin-top: 30px;
}