@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

.homePageMainContainer{
  padding: 0 5% 0 5%;
}

.topPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.firstPartOfPage{
  margin-top: 35px;
  width: 100%;
}

.sliderImgs {
  width: 100%;
}

.slideshow-container {
  width: 100%;
}

.new{
    align-items: center;
    justify-content: center;
   grid-row: span 1; 
}

.firstPartOfPage .new img{
  width: 100%;
  height: 100%;
}


.homeLogo{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.homeLogo img{
  width: 200px;
  height: 100px;
  ;
}

.firstOurNews{
  grid-area: img1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0;
}
.secondOurNews{
  grid-area: img2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0;
}

.secondPartOfPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Upper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upperSecond a:first-child {
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.secondPartOfPage .upperSecond  img{
  width: 90%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.smallImgsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.smallImgsContainer>a {
  width: 48%;
  margin-bottom: 15px;
}

.smallImgsContainer .smallImgs img{
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.smallImgs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left-style: solid;
  border-left-color: #3c7c5acc;
  border-left-width: 10px;
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.hrHome {
    border: 0;
    height: 0.9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),#2D3E50, rgba(0, 0, 0, 0));
    width: 90%;
    margin-bottom: 30px;
  }


.category{
  border-top: 1px solid #e9e9e9;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #3C7C5A;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
};

hr.upperLine{
  height: 2px;
  color: #2D3E50;
}

.endContainerHome{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
   
}

.endContainerHome a {
  width: 300px;
}

.endContainerHome a img {
  width: 100%;
  height: 300px;
  padding: 5px;
}

.endContainerHome a:hover{
opacity: 0.6;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.smallImgs:hover{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.upperSecond:hover{
  opacity: 0.6;

}


.qoute{
  display: flex;
  width: 100%;
}

 .qoute p{
  font-size: 14px;
  text-align: center;
  color: #c2bfbf; ;
 }

.leftLine, .rightLine{
  flex: 1;
}

.line{
  border-bottom: 1px solid #c2bfbf;;
}


@media screen and (max-width: 700px) {
  .Upper {
    flex-direction: column;
  }

  .upperSecond {
    margin-bottom: 15px;
  }

  .smallImgsContainer {
    flex-direction: column;
  }

  .smallImgsContainer>a {
    width: 100%;
  }
}