@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');
.homePageMainContainer{
  margin: 0 5% 0 5%;
}

.firstPartOfPage{
  margin-top: 35px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "sliderImgs sliderImgs sliderImgs sliderImgs"
  "sliderImgs sliderImgs sliderImgs sliderImgs"
   ;
}
.sliderImgs{grid-area:sliderImgs ;}
.upperLeft{grid-area:upperLeft ;}
.upperRight{grid-area:upperRight ;}
.lowerLeft{grid-area:lowerLeft ;}
.lowerRight{grid-area:lowerRight ;}

.new{
    align-items: center;
    justify-content: center;
   grid-row: span 1; 
}

.firstPartOfPage .new img{
  width: 100%;
  height: 100%;
}


.homeLogo{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.homeLogo img{
  width: 200px;
  height: 100px;
  margin-top: 20px;
}


.gridUpper{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
margin: 0 5%;
grid-template-areas: " img1 img2" ;
}

.firstOurNews{
  grid-area: img1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0;
}
.secondOurNews{
  grid-area: img2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 0;
}


.secondPartOfPage .upperSecond  img{
  width: 500px;
  height: 400px;
  margin: 0 0;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.smallImgsContainer .smallImgs img{
  width: 174px;
  height: 152px;
}

.smallImgs{
  display: flex;
  justify-content: space-between;
  border-left-style: solid;
  border-left-color: #3c7c5acc;
  border-left-width: 10px;
}
.smallImgsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
grid-template-rows: 200px 200px;
gap: 30px;
margin: 50px 3%;
grid-template-areas: 
" smallImgs1 smallImgs2" 
" smallImgs3 smallImgs4" 
;
}

.smallImgs1{grid-area: smallImgs1;}
.smallImgs2{grid-area: smallImgs2;}
.smallImgs3{grid-area: smallImgs3;}
.smallImgs4{grid-area: smallImgs4;}


.hrHome {
    border: 0;
    height: 0.9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0),#2D3E50, rgba(0, 0, 0, 0));
    width: 90%;
    margin-bottom: 30px;
  }


.category{
  border-top: 1px solid #e9e9e9;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    color: #3C7C5A;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
};

hr.upperLine{
  height: 2px;
color: #2D3E50;
}

.endContainerHome a img {
  width: 300px;
  height: 300px;
  padding: 5px;
}

.endContainerHome a:hover{
opacity: 0.6;
box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.smallImgs:hover{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}

.upperSecond:hover{
  opacity: 0.6;

}

.endContainerHome{
  margin: 0 13% 15px 17%;
    display: grid;
    width: 900px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-template-areas:
        "fisrtImage secondImage thirdImage"
        "forthImage fifthImage sixthImage";
}

.fisrtImage{grid-area: fisrtImage;}
.secondImage{grid-area: secondImage;}
.thirdImage{grid-area: thirdImage;}
.forthImage{grid-area: forthImage;}
.fifthImage{grid-area: fifthImage;}
.sixthImage{grid-area: sixthImage;}

.qoute{
  display: table;
  width: 100%;
}

 .qoute p{
  font-size: 14px;
  text-align: center;
  color: #c2bfbf; ;
 }

.leftLine, .rightLine{
  display: table-cell;
  width: 32%;
}

.line{
  border-bottom: 1px solid #c2bfbf;;
}


